---
# The name of the application. Optional, defaults to the basename of the origin
# repo URL. Overridden with <tt>cartage --name NAME</tt>.
# ---
# name: my-application

# The target path for the Cartage package. Optional, defaults to
# <tt>./tmp</tt>. Overridden with <tt>cartage --target PATH</tt>.
# ---
# target: tmp/cartage

# The root path of the application. Optional, defaults to the top of the
# repository (<tt>git rev-parse --show-cdup</tt>). Overridden with <tt>cartage
# --root-path ROOT_PATH</tt>.
# ---
# root_path: .

# The timestamp for the final package (which is
# <tt><em>name</em>-<em>timestamp</em></tt>). Optional, defaults to the current
# time in UTC. Overridden with <tt>cartage --timestamp TIMESTAMP</tt>. This
# value is *not* validated to be a time value when supplied.
# ---
# timestamp: not-a-timestamp

# The type of compression to be used. Optional, defaults to 'bzip2'. Must be
# one of 'bzip2', 'gzip', or 'none'. Overridden with <tt>cartage --compression
# TYPE</tt>.
#
# This affects the compression of both the final package and the dependency
# cache.
# ---
# compression: gzip

# Silence normal output. Optional, defaults false. Overridden with <tt>cartage
# --quiet</tt>.
# ---
# quiet: true

# Show verbose output. Optional, defaults false. Overridden with <tt>cartage
# --verbose</tt>.
# ---
# verbose: true

# Disable dependency caching. Optional, defaults false.
# ---
# disable_dependency_cache: true

# The path where the dependency cache will be written
# (<tt>dependency-cache.tar.*</tt>) for use in successive builds. Optional,
# defaults to <tt>./tmp</tt>. Overridden with <tt>cartage
# --dependency-cache-path PATH</tt>.
#
# On a CI system, this should be written somewhere that the CI system uses for
# build caching.
# ---
# dependency_cache_path: <%= ENV['SEMAPHORE_CACHE'] %>

# This dictionary is for command-specific configuration. As of this writing,
# none of the commands provided by default or in existing plug-ins have
# command-specific configuration. The keys are freeform and should be based on
# the *primary* name of the command (so the <tt>cartage pack</tt> command
# should use the key <tt>pack</tt>.)
commands: {}

# This dictionary is for plug-in-specific configuration. See each plug-in for
# configuration options. The keys to the plug-ins are based on the plug-in
# name. cartage-bundler is available as Cartage::Bundler; the transformed
# plug-in name will be <tt>bundler</tt>.
plugins: {}

# This must not be indented for it to work.
<%= Cartage::Config.import 'config/ansible/cartage.yml' %>
<%= Cartage::Config.import 'config/local/cartage.yml' %>
